<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.gofoodie">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CheckoutActivity"></activity>
        <activity
            android:name=".SignIn"
            android:theme="@style/HomeTheme" />
        <activity android:name=".DrinkActivity" />
        <activity android:name=".MeatActivity" />
        <activity android:name=".SoupActivity" />
        <activity android:name=".SwallowActivity" />
        <activity android:name=".AboutActivity"/>
        <activity android:name=".SnackActivity">
        </activity>
        <activity android:name=".ContactActivity" />
        <activity
            android:name=".SignUp"
            android:theme="@style/HomeTheme" />
        <activity android:name=".MenuActivity" /> <!-- I made HomeActivity and set theme to HomeTheme to allow full screen mode -->
        <!-- Change was made by robin -->
        <activity
            android:name=".HomeActivity"
            android:theme="@style/HomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>